node_modules
dist
/.idea/
workspace.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
/notes
out/
java/out/
java/dist/
/dist/
/out/
/java/dist/
/java/out/
*.AppImage
*.deb
npm-debug.log*
yarn-error.log*
.DS_Store
*.iml
/.vscode/
